<div class="page-header">
<h1>All Collections</h1>
</div>

<%= link_to "Add a new collection", new_collection_path, class: "btn" %>

<% @collections.each do |collection| %>
  <div class="collection">
    <strong><%= link_to collection.title, collection %></strong>
    <span class="creator">
    <%= "created by " + collection.user.full_name %>
    <%= time_ago_in_words(collection.created_at) + " ago" %>
  </span>
    <p><%= collection.description %></p>
  </div>

<% end %>