<%= simple_form_for(@photo, :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>
  <%= f.input :collection_id %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :image %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, 'Add Photo' %>
  </div>
<% end %>
